body {
  margin: 0;
  font-family: "Times New Roman", Times, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1ed760;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container{
   background-color: black;
  margin-top: 20px;
   height: fit-content;
   width: 90%;
  color: white;
  border-radius: 10px;
 position: relative;
}



 .list-group {
  align-items:center
 }

 .list-group-item{
  width: 100%;
 }

 .dot{
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background-image: url("./Components/covers/baawla.jpg");
  background-size: cover;
 }

 .alignDivs{
  display: flex;
  flex-direction: row;
 }

 .one{
  float: left;
 

 }
 .second{
  float: right;
 }
  

input[type=range]::-webkit-slider-runnable-track {
  overflow: hidden;
  cursor: pointer;

}

input[type=range]::-webkit-slider-thumb{
  color:#1ed760;
}

